<div #carousel class="carousel">
  <div
    *ngFor="let item of items"
    class="carousel__cell flex items-center justify-center"
    [ngStyle]="{ 'background-image': 'url(' + item.imgSrc + ')' }"
  >
    <div class="carousel__main text-center px-10 xs:px-0 max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl">
      <h1 class="mat-headline text-5xl sm:text-6xl md:text-7xl lg:text-8xl uppercase">{{ item.title }}</h1>
      <p class="mat-subheading-2 text-sm sm:text-base md:text-lg lg:text-xl">{{ item.description }}</p>
      <button
        *ngIf="!item.isExternalUrl"
        mat-raised-button
        color="accent"
        class="carousel__action-btn uppercase"
        (click)="navigate(item.buttonUrl)"
      >
        {{ item.buttonText }}
      </button>
      <a
        *ngIf="item.isExternalUrl"
        mat-raised-button
        color="accent"
        class="carousel__action-btn uppercase"
        [href]="item.buttonUrl"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ item.buttonText }}
      </a>
    </div>
  </div>
</div>
