<div>
  <flb-carousel [items]="carouselItems"></flb-carousel>
  <div class="view-wrapper">
    <div class="m-auto max-w-95pct lg:max-w-62rem">
      <h1 class="view-header">Welcome to Fat Little Buddies!</h1>
      <div class="home__background m-auto rounded-xl shadow-md px-8 py-10 w-full">
        <div class="max-w-screen-md m-auto">
          <div class="mb-8 text-3xl uppercase text-center">Your Friendly Neighborhood Bar and Restaurant</div>
          <div class="mb-8 mat-body text-center">
            Discover the ultimate spot for great food, cold beer, and good times at Fat Little Buddies. Located in
            Olmsted Township, OH, we are your go-to destination for a memorable dining experience.
          </div>
          <div class="mb-8 text-3xl uppercase text-center">Delicious Food, Cold Beer, and More</div>
          <div class="mb-8 mat-body text-center">
            Indulge in our mouthwatering menu featuring wings, sandwiches, pizza, and more. Pair your meal with a
            selection of ice-cold beers, including local craft brews. We have something to satisfy every palate.
          </div>
          <div class="mb-8 text-3xl uppercase text-center">Live Music and Fun Events</div>
          <div class="mb-8 mat-body text-center">
            Join us for exciting events and live music that will keep you entertained all night long. From music
            festivals to 5Ks, there's always something happening at Fat Little Buddies.
          </div>
          <div class="mb-8 text-3xl uppercase text-center">Friendly Bartenders, Welcoming Atmosphere</div>
          <div class="mb-8 mat-body text-center">
            Our bartenders are known for their warm hospitality and personable service. We pride ourselves on creating a
            friendly and welcoming atmosphere, making you feel right at home from the moment you step through our doors.
          </div>
          <div class="mb-8 text-3xl uppercase text-center">Join Us Today</div>
          <div class="mb-8 mat-body text-center">
            Whether you're seeking a casual hangout with friends, a delicious meal, or a lively night out, Fat Little
            Buddies is the place to be. Swing by our location in Olmsted Township, OH, and experience the best of
            neighborhood dining and entertainment.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
