$flb-red: (
  100: #e0b3b3,
  500: #990000,
  800: #7c0000,
  contrast: ()
);

$flb-yellow: (
  500: #fadb03,
  contrast: ()
);

$flb-primary: mat-palette($flb-red, 500, 100, 800);
$flb-accent: mat-palette($flb-yellow, 500);
$flb-warn: mat-palette($mat-pink, 600);

$flb-theme: mat-light-theme($flb-primary, $flb-accent, $flb-warn);
