<div class="view-wrapper contact">
  <div class="m-auto max-w-95pct lg:max-w-62rem">
    <h1 class="view-header">Contact</h1>
    <div class="space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6 mb-6 py-8 px-8 mx-auto"></div>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSerL7Af8FzjJuW85cYsd39n7xK4XJTHqqe-1VQV-BKg4lvgig/viewform?embedded=true"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      height="950px"
      class="w-full"
      >Loading…</iframe
    >
  </div>
</div>
