// Material
@use '~@angular/material' as mat;
@include mat.core();

// Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Custom themes
@import './themes/default-theme';

// Component themes
@import './app/app.component.scss-theme';
@import './app/views/home/home.component.scss-theme.scss';
@import './app/views/home/components/carousel/carousel.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
  @include flb-app-component-theme($theme);
  @include flb-home-component-theme($theme);
  @include flb-carousel-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($flb-theme);
  @include custom-components-theme($flb-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
