@import '~@angular/material/theming';

@include mat-core();

@import './themes/default-theme';

@include angular-material-theme($flb-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
